  <div class="container-fluid">

    <!-- ======================================================== -->
    <!-- ======================================================== -->
    <!-- ======================================================== -->

        <!-- ======================================================== -->
        <!-- BEGIN DIV MAIN CONTENTS - EVERYTHING IS HERE - I -->
        <div class="col-sm-10">
                    <div class="panel panel-success">
                        <div class="panel-heading">Welcome to SMACCO - The SMart ACcount COmposer</div>
                        <div class="panel-body">
                            <form id="formSmacco" action="/smacco" style="margin-top: 10px;" method="post">
                                <div class="tab-container">
                                    <ul class="nav nav-tabs" id="smacconavtabs">
                                        <li class="active"><a data-target="#singleSigCode" data-toggle="tab">single input</a></li>
                                        <li><a data-target="#multiSigCode" data-toggle="tab">array input</a></li>
                                    </ul>

                                    <!-- /////////////////////////////////////////////////////////////////// -->
                                    <!-- singleSigCode -->
                                    <div class="tab-content">
                                        <div class="tab-pane active cont" id="singleSigCode">
                                                <div class="dropdown btn-group" style="margin-bottom: 10px">
                                                    <a class="btn btn-sucess dropdown-toggle" data-toggle="dropdown">
                                                        Select Example
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" id="ExampleList">
                                                        <li><a onclick="setExampleSingle('0')">SingleCheckSig.json</a></li>
                                                        <li><a onclick="setExampleSingle('1')">SingleTimeLock.json</a></li>
                                                    </ul>
                                                </div>
                                                <pre id="editorSingleSig">
{
  "standard": "smacco-1.0",
  "input_type": "single",
  "pubkey_list": [
    "036245f426b4522e8a2901be6ccc1f71e37dc376726cc6665d80c5997e240568fb"
  ],
  "rule": {
    "rule_type": "ALLOW_IF",
    "condition": {
      "condition_type": "CHECKSIG"
    }
  }
}
                                                </pre>
                                    </div>
                                    <!-- /////////////////////////////////////////////////////////////////// -->
                                    <!-- end singleSigCode -->

                                          <!-- /////////////////////////////////////////////////////////////////// -->
                                          <!-- python div -->
                                          <div class="tab-pane cont" id="multiSigCode">
                                              <input type="hidden" id="code_python" name="codesend_python"/>
                                              <pre id="editorMultiSig">
{
  "standard": "smacco-1.0",
  "input_type": "array",
  "pubkey_list": [
    "036245f426b4522e8a2901be6ccc1f71e37dc376726cc6665d80c5997e240568fb",
    "0303897394935bb5418b1c1c4cf35513e276c6bd313ddd1330f113ec3dc34fbd0d",
    "02e2baf21e36df2007189d05b9e682f4192a101dcdf07eed7d6313625a930874b4"
  ],
  "rule": {
    "rule_type": "ALLOW_IF",
    "condition": {
      "condition_type": "CHECKMULTISIG",
      "minimum_required": "2"
    }
  }
}
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                                <!-- end python div -->
                                <!-- /////////////////////////////////////////////////////////////////// -->
                                <button type="submit" id="compilebtn" style="margin-top: 5px;" class="btn btn-success" data-toggle="modal">Create account</button>


                                <h4>SMACCO Errors:</h4>
                                <!-- end common submit button -->
                                <!-- /////////////////////////////////////////////////////////////////// -->

                                <textarea id="codewarnerr" readonly="readonly" rows="7" cols="100" placeholder="Warning/Errors in code..." class="form-control"></textarea>
                              </form> <!-- id="formSMACCO" -->

                                <div class="tab-container">
                                  <ul class="nav nav-tabs" id="compilersnavtabs">
                                      <li class="active"><a data-target="#csharpSmaccoCode" data-toggle="tab">C#</a></li>
                                  </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active cont" id="csharpSmaccoCode">
                                                <input type="hidden" id="code_cs" name="codesend_cs"/>
                                                <pre id="editorCSharp">
    using Neo.SmartContract.Framework;
    using Neo.SmartContract.Framework.Services.Neo;
    using System;
    using System.Numerics;
    namespace NeoContract1
    {
    public class Contract1 : SmartContract
    {
        public static void Main()
        {
            Storage.Put(Storage.CurrentContext, &quot;Hello&quot;, &quot;World&quot;);
        }
    }
    }
                                      </pre>
                                    </div>
                                  </div>
                                </div>


                                <h4>AVM (in hex):</h4>
                                <textarea id="codeavm" name="codeavm" readonly="readonly" rows="5" cols="100" placeholder="AVM (in hex)" class="form-control"></textarea>


                            <!-- end of compilex form -->
                            <!-- /////////////////////////////////////////////////////////////////// -->
                        </div>
                    </div>
      <!-- END DIV MAIN CONTENTS - EVERYTHING WAS INSIDE HERE - II-->
      <!-- ======================================================== -->
      <!-- ======================================================== -->

  </div> <!-- end col -->
  <!-- END DIV MAIN CONTENTS - EVERYTHING WAS INSIDE HERE - I -->
  <!-- ======================================================== -->
  <!-- ======================================================== -->

  </div> <!-- end row -->
  <!-- BEGIN DIV MAIN CONTENTS - MENU AND CONTENT -->
  <!-- ======================================================== -->
  <!-- ======================================================== -->
  <!-- ======================================================== -->

    <script src="public/js/common/neoEditorScripts.js"></script>

    <script>
        var editorMultiSIg = createEditor("editorMultiSig", "ace/mode/json");
        var editorSingleSig = createEditor("editorSingleSig", "ace/mode/json");
        var csharpSmaccoCode = createEditor("csharpSmaccoCode", "ace/mode/csharp");
        var singleExampleFiles = [
            //["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/HelloWorld/HelloWorld.cs"],
            ["/examples/single/SingleCheckSig.json"],
            ["/examples/single/SingleTimeLock.json"],
            ["/examples/single/Charity.json"]
        ];

        var arrayExampleFiles = [
            //["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/HelloWorld/HelloWorld.cs"],
            ["/examples/array/ArrayMultiSig.json"]
        ];

        //Check current webpage and starts with localhost or neocompiler public website
        $(document).ready(function(){

        });
    </script>
</div>
